doctype html
extends layout
html
  body
  block content
   center
     h1
      a#link(href='/') Main 
      a#link(href='/settings') Settings 
      a#link(href='/tests') Tests 
     h2 Вк тесты
     input#searchvk(type="search", placeholder="Выдать содержимое стены")  
     br
     input#submvk(type="submit")
     #resvk1
      #resultsvk
   
     h2 Двач тесты
     input#search2ch(type="search", placeholder="Пост с двача")
     br
     input#subm2ch(type="submit")   
     #results2ch
     
   
