extends layout
html
  head
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js")
    script(src="/javascripts/main.js")  
  body
    block content 
     center  
      h1
       a#link(href='/') Main 
       a#link(href='/settings') Settings 
       a#link(href='/tests') Tests 
      #sempai
       script(type='text/javascript').
           if(#{online} == 1){
             $('#sempai').append('<h1>'+"семпай онлайн!!!"+'</h1>');
           }else{
             $('#sempai').append('<h1>'+"семпай оффлайн!!!"+'</h1>');
           };
      h1 Лесков онлайн?  #{online}

      
