body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#searchvk
  text-align center
  width 300px
  height 50px
  font-size 1.5em
  border-radius 8px

#resvk1
  width 100%
  float left

#boxvk
  text-align center
  font-size 1.5em
  border-radius 8px
  outline 2px solid #000
  float left
  width 15%
  height auto
  margin 10px
  padding 10px
  background url(https://pp.vk.me/c9591/u00001/136592355/y_e10ee835.jpg)

#link
  text-decoration none

#search2ch
  text-align center
  width 300px
  height 50px
  font-size 1.5em
  border-radius 8px
